<div class='card-top'>
  <img class='card-img' src='{{flags.svg}}' alt='{{name.official}}' />
  <h2 class='card-title'> {{name.official}}</h2>
</div>
<div class='card-body'>
  <p><strong>Capital: </strong>{{capital}}</p>
  <p><strong>Population: </strong>{{population}}</p>
  <p><strong>Languages: </strong>{{languages}}</p>
</div>