<div class="card">
    <div class="card-top">
        <img src="{{flags.svg}}" alt="{{name.official}}">
        <h2> {{name.official}}</h2>
    </div>
    <div class="card body">
        <p><span>Capital:</span>{{capital}}</p>
        <p><span>Population:</span>{{population}}</p>
        <p><span>Languages:</span>{{languages}}</p>
    </div>
</div>