<div class='card-top'>
  <img class='cardimg' src='{{flags.svg}}' alt='{{name.official}}' />
  <h2 class='card-title'> {{name.official}}</h2>
</div>
<div class='card-body'>
  <p><span>Capital: </span>{{capital}}</p>
  <p><span>Population: </span>{{population}}</p>
  <p><span>Languages: </span>{{languages}}</p>
</div>